  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="/public/style.css">

 <div class="body">
  
  <!--Logo-->
 <div class="logo2"><img src="/assets/5375478681594722064-128.png" alt="logo" width="150" height="150"></div>
<!-- Sign in form -->
<div class="tab-content">
    <form>
      <div class="text-center mb-3">
        <p>Sign in with:</p></div>

      <!-- User input -->
        <div class="text-center form-outline mb-4">
        <label class="form-label" for="loginName">Username</label>
        <input type="text" class="width-150"/>
      </div>

      <!-- Password input -->
      <div class="text-center form-outline mb-4">
        <label class="form-label">Password</label>
        <input type="password" class="width-150"/>
      </div>

      
      <!-- Submit button -->
      <div class="text-center">
      <button type="submit" class="btn btn-light btn-block mb-4">Sign in</button>
      </div>


      <footer id="footer" class="fixed-bottom bg-light text-center text-dark">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright: MVC Technical Blog.<br>
          Icon by www.wishforge.games on freeicons.io    </div>
        <!-- Copyright -->
      </footer>
        </div>